{% load static %}
{%load crispy_forms_tags %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock%}</title>
    <link rel='stylesheet' href="{% static 'main/stylee.css'%}">

    {%block script%}
    {%endblock%}
    
    
    <!--<script src="{% static 'main/home_shitt.js'%}" defer type="module"></script>-->
    
  </head>


  <body>

    <!-- left side navbar -->

    <div class='nav_container'>
        
    </div>

    {%block content%}
    {%endblock%}
    
  </body>

  
</html>